@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&display=swap');

* {
    font-family: Big Shoulders Stencil Text;
}
.textChoose {
    color: rgb(56, 56, 56);
}
// .makeStyles-root-10 {
//     margin-top: 10px;
// }
body {
    margin: 0;
  }
  